[package]
name = "leetcode-tui-rs"
version = "0.1.0"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.71"
crossbeam = "0.8.2"
crossterm = { version = "0.26.1", features = ["event-stream"] }
futures = "0.3.28"
futures-timer = "3.0.2"
html2text = "0.6.0"
kdam = "0.3.0"
ratatui = { version = "0.22.0", features = ["all-widgets"] }
reqwest = { version = "0.11.18", features = ["json", "cookie_crate", "cookie_store", "cookies", ] }
sea-orm = { version = "^0", features = [ "sqlx-sqlite", "runtime-tokio-native-tls", "macros", "with-json"] }
serde = { version = "1.0.171", features = ["derive"] }
serde_json = "1.0.102"
thiserror = "1.0.43"
tokio ={ version = "1.29.1", features = ["macros", "rt-multi-thread"] }
toml = "0.7.6"
xdg = "2.5.0"

[[bin]]
name = "leetui"
path = "src/main.rs"

[dependencies.sea-orm-migration]
version = "^0"
features = [
  "runtime-tokio-native-tls",  
  "sqlx-sqlite",       
]

[dev-dependencies]
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
